{% extends "network/layout.html" %}
{% load static %}

{% block title %} {{ username }} {% endblock %}

{% block body %}
    {% if existence %}
        <div class="row">
            <div class="text-center col-3">
                <div class="one-line">
                    <h2>@{{ username }}</h2>

                    <div id="toggle">
                        {% if user.is_authenticated and followed %}
                            <h6><span class="badge badge-primary">Following</span></h6>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="text-center col-3">
                <b>Posts</b>
                <br>
                <p class="text-muted">{{ post_count }}</p>
            </div>
            <div class="text-center col-3">
                <b>Followings</b>
                <br>
                <p class="text-muted">{{ following }}</p>
            </div>
            <div class="text-center col-3">
                <b>Followers</b>
                <br>
                <p class="text-muted">{{ follower }}</p>
            </div>
        </div>
        {% if user.is_authenticated and user.username != username %}
            <form method="post" action="{% url 'follow' %}">
                {% csrf_token %}
                <input hidden type="text" value="{{ username }}" name="username">
                {% if not followed %}
                    <button type="submit" class="btn btn-primary btn-block">Follow</button>
                {% elif followed %}
                    <button type="submit" class="btn btn-primary btn-block">Unfollow</button>
                {% endif %}
            </form>
        {% endif %}

        <hr>
        <div class="container" id="user_container">
            {% for post in page_obj %}
                <div class="card post {% if post.author == user %} my-post {% endif %}">
                    {% if post.author == user %}
                        <button name="edit" data-id="{{ post.id }}" class="edit-button">
                            Edit <i class="far fa-edit"></i>
                        </button>
                    {% endif %}
                    <div class="card-body d-flex flex-column">
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'user' post.author.username %}" class="text-body text-decoration-none">
                                <h5>{{ post.author }}</h5>
                            </a>
                            <p class="text-muted mb-0">{{ post.date }}</p>
                        </div>
                        <br />
                        <div id="post-content-{{ post.id }}">
                            <p>{{ post.content }}</p>
                        </div>
                        <div class="mt-auto">
                            <button class="btn btn-outline-primary btn-sm like-button" data-id="{{ post.id }}">
                                <i class="far fa-thumbs-up"></i>
                                <span class="like-count">{{ post.liked.count }}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <br />
            {% empty %}
                <p class="text-muted">No posts to display.</p>
            {% endfor %}
        </div>

        {% if page_obj.paginator.num_pages > 1 %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if not page_obj.has_previous %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                        <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    {% if not page_obj.has_next %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    {% else %}
        <div class="text-center">
            <h4 class="text-center text-muted">No user matches the query.</h4>
            <a href="{% url 'index' %}">Go back</a>
        </div>
    {% endif %}
{% endblock %}
